<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-contact">
          <h3>Trụ sở</h3>
          <p>
            1. 155 Trường Chinh, Phường Trà Bá, TP Pleiku<br />
            2. 807 Lê Duẩn, Thôn 2, Xã Chư Á, TP Pleiku<br />
            Gia Lai - Việt Nam<br />
            <strong>Phone:</strong> 0982222747<br />
            <strong>Email:</strong> cptthanhtuan@gmail.com<br />
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/home">Trang Chủ</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="events">Khuyến mãi</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="contact">Liên hệ</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Dịch vụ liên kết</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Thiết kế web</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Thiết kế phần mềm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a href="https://www.facebook.com/hoangvietglcs">HLGV</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->
